<!DOCTYPE html>
<html xmlns:th="http://org.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Verification Succeeded!','none')}" />

<body>
	<div class="container-fluid">
		<header th:replace="~{navigation :: page_navbar}" />
		<header th:replace="~{navigation :: search_nav}" />

		<div>&nbsp;</div>

		<div class="text-center">
			<h2>Customer Verification</h2>
			<h4>Congratulations! Your account has been activated.</h4>
			<p><a th:href="@{/login}">Login now</a></p>
		</div>

		<div>&nbsp;</div>

		<div th:replace="~{footer_nav :: footer_menu}"></div>
		<div th:replace="~{fragments :: footer}"></div>

	</div>
	</div>


</body>

</html>