<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" xmlns:sec="https://org.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: page_head('Store - Brands','none')}" />

<body>
  <div class="container-fluid">

    <header th:replace="~{navigation :: page_navbar}" />

    <div>
      <h2>Manage Products</h2>
      <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
        <a th:href="@{/products/new}">Create new Product</a>
        &nbsp;|&nbsp;
        <a th:href="@{/products/export/csv}">Export to CSV</a>
        &nbsp;|&nbsp;
        <a th:href="@{/products/export/excel}">Export to Excel</a>
      </th:block>
    </div>


    <div th:replace="~{fragments :: search_form_categories('/products')}" />


    <div th:if="${message != null}" class="alert alert-success text-center">
      [[${message}]]
    </div>


    <table class="table table-bordered table-hover table-responsive-xl">
      <thead class="thead-dark">
        <tr>
          <th th:replace="~{fragments :: column_link('id','ID','tag')}" />
          <th>Principal Image</th>
          <th th:replace="~{fragments :: column_link('name','Product Name','none')}" />
          <th th:replace="~{fragments :: column_link('brand','Brand','tag')}" />
          <th th:replace="~{fragments :: column_link('category','Category','tag')}" />

          <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
            <th>Enabled</th>
          </th:block>

          <th></th>
        </tr>
      </thead>

      <tbody th:each="product : ${products}">

        <td th:text="${product.id}"></td>
        <td>
          <img th:src="@{${product.getMainImagePath}}" style="width: 80px; height: 80px;" />
        </td>
        <td>
          <a class="link-detail" th:text="${product.shortName}" th:href="@{'/products/detail/'+${product.id}}"
            th:title="${product.name}" style="color:black">
          </a>
        </td>
        <td th:text="${product.brand.name}"></td>
        <td th:text="${product.category.name}"></td>

        <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
          <td>
            <div th:replace="~{fragments :: status(${product.enabled}, 'product', '/products/'+${product.id})}" />
          </td>
        </th:block>

     
          <td>
            <th th:replace="~{fragments :: products_actions}" />
          </td>
     

      </tbody>
    </table>
  </div>


  <div th:replace="~{modal_fragment :: confirm_modal}"></div>

  <div th:replace="~{modal_fragment :: modal_dialog}"></div>

  <div class="modal fade" id="detailModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

      </div>
    </div>
  </div>

  <div th:replace="~{fragments :: pagination('products')}" />
  <div th:replace="~{fragments :: footer}"></div>

  </div>
  <script th:src="@{/js/common_list.js}"></script>
  <script type="text/javascript">
    moduleURL = "[[@{/products}]]";

    $(document).ready(function () {
      $(".link-delete").on("click", function (e) {
        e.preventDefault();
        showDeleteConfirmModal($(this), 'product');
      });

      $(".link-detail").on("click", function (e) {
        e.preventDefault();
        linkDetailURL = $(this).attr("href");
        $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);

      });

      $("#dropdownCategory").on("change", function () {
        $("#searchProductsByCategory").submit();
      });

    });

  </script>
</body>

</html>