<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>

  <div th:fragment="primary_address_actions">
    <a th:unless="${param.redirect}" th:href="@{/account_details(redirect=address_book)}" title="Edit this Address">
      <img th:src="@{/images/address/editaddress.png}" width="18px" />
    </a>
    <a th:if="${param.redirect != null && param.redirect[0] == 'checkout'}" th:href="@{/account_details(redirect=checkout)}" title="Edit this Address">
      <img th:src="@{/images/address/editaddress.png}" width="18px" />
    </a>
  </div>

  <div th:fragment="address_actions">
    <a th:unless="${param.redirect}" th:href="@{'/address_book/edit/'+ ${address.id}}" title="Edit this Address">
      <img th:src="@{/images/address/editaddress.png}" width="18px" />
    </a>
    <a th:if="${param.redirect != null && param.redirect[0] == 'checkout'}" th:href="@{'/address_book/edit/'+ ${address.id} + '?redirect=checkout'}" title="Edit this Address">
      <img th:src="@{/images/address/editaddress.png}" width="18px" />
    </a>


    &nbsp;
    <a class="linkDelete" th:entityId="${address.id}" th:href="@{'/address_book/delete/'+ ${address.id}}"
      title="Delete this Address">
      <img th:src="@{/images/address/deleteaddress.png}" width="18px">
    </a>
  </div>

</body>

</html>