<!DOCTYPE html>
<html xmlns:th="http://org.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Store Admin - Users')}" />

<body>
	<div class="container-fluid">
		<header th:replace="~{navigation :: page_navbar}" />

		<div>
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}">Create new User</a>
			&nbsp;|&nbsp;
			<a th:href="@{/users/export/csv}">Export to CSV</a>
			&nbsp;|&nbsp;
			<a th:href="@{/users/export/excel}">Export to Excel</a>
		</div>

		<div>

			<div th:replace="~{fragments :: search_form('/users/page/1')}" />

			<div th:if="${message !=null}" class="alert alert-success text-center">
				[[${message}]]

			</div>



			<table class="table table-bordered table-striped table-hover table-responsive-xl">

				<thead class="thead-dark">

					<tr>
						<th th:replace="~{fragments :: column_link('/users', 'id','User ID')}" />

						<th>Photo</th>

						<th th:replace="~{fragments :: column_link('/users','email','Email')}" />

						<th th:replace="~{fragments :: column_link('/users','firstName','First Name')}" />

						<th th:replace="~{fragments :: column_link('/users','lastName','Last Name')}" />

						<th>Roles</th>

						<th th:replace="~{fragments :: column_link('/users','enabled','Enabled')}" />

						<th></th>
					</tr>

				</thead>

				<tbody>

					<tr th:each="user : ${users}">
						<td th:text="${user.id}"></td>

						<td>
							<span th:if="${user.photo == null}"><img th:src="@{/images/status/portrait.png}" /> </span>
							<img style="max-width: 80px; max-height: 80px;" th:if="${user.photo != null}"
								th:src="@{${user.getPhotoImagePath}}" />
						</td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.firstName}"></td>
						<td th:text="${user.lastName}"></td>
						<td th:text="${user.roles}"></td>
						<td>
							<div th:replace="~{fragments :: status(${user.enabled}, 'user', '/users/'+${user.id})}" />
						</td>

						<td>
							<di th:replace="~{fragments :: users_actions}" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>



		<div th:replace="~{fragments :: pagination('/users','users')}"></div>

		<div th:replace="~{modal_fragment :: confirm_modal}"></div>

		<div th:replace="~{modal_fragment :: modal_dialog}"></div>

		<div th:replace="~{fragments :: footer}"></div>

	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/users}]]"

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'user');
			});
		});
	</script>
</body>

</html>