<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<body>

  <footer class="footer">

    <nav>
      <div th:fragment="footer_menu" class="navbar_footer">
        <ul class="links_footer">
          <li class="li_footer">
            <a class="a_footer" href="#">About Us</a>
          </li>
          <li class="li_footer">
            <a class="a_footer" href="#">Privacy Notice</a>
          </li>
          <li class="li_footer">
            <a class="a_footer" href="#">Returns & Refunds</a>
          </li>
        </ul>
      </div>
    </nav>
  </footer>

</body>


</html>