<!DOCTYPE html>
<html xmlns:th="http://org.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Store ','none')}" />

<body>
	<div class="container-fluid">
		<header th:replace="~{navigation :: page_navbar}" />
		<header th:replace="~{navigation :: search_nav}" />

		<div>
			<h1>Welcome to the Store</h1>
		</div>

		<div class="row">
			<div class="col-sm-2" th:each="category : ${categories}">

				<div><img style="max-width: 80px;max-height: auto;" th:src="@{${category.imagePath}}"/></div>
				<div>
				<a th:href="@{'/c/'+${category.alias}}">[[${category.name}]]</a>
				</div>

			</div>
		</div>

		<div th:replace="~{footer_nav :: footer_menu}"></div>
		<div th:replace="~{fragments :: footer}"></div>


	</div>
	</div>


</body>

</html>