<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>

  <div th:fragment="orders_actions">
    <a class="linkOrderDetail" th:href="@{'/orders/detail/'+${order.id}}" title="View order details">
      <img style="max-height: 30px;" th:src="@{/images/status/details.png}" />
    </a>
    &nbsp;
    <a th:href="@{'/orders/edit/'+${order.id}}" title="Edit this order">
      <img style="max-height: 30px;" th:src="@{/images/buttons/edit.png}" />
    </a>
    &nbsp;
    <a class="link-delete" th:href="@{'/orders/delete/'+${order.id}}" title="Delete this order"
      th:entityId="${order.id}">
      <img style="max-height: 30px;" th:src="@{/images/buttons/delete.png}" />
    </a>

  </div>


  <div th:fragment="search_form(moduleURL)">

    <form th:action="@{${moduleURL}}" class="form-inline m-3">

      <input type="hidden" name="sortField" th:value="${sortField}" />
      <input type="hidden" name="sortOrder" tH:value="${sortOrder}" />

      Filter:&nbsp;
      <input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
      &nbsp;&nbsp;
      <input type="submit" value="Search" class="btn btn-primary" />
      &nbsp;&nbsp;
      <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">

    </form>

  </div>

  <div th:fragment="format_time(dateTime)" th:remove="tag">
    <span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
  </div>
  <div th:fragment="currency_input(amount)" th:remove="tag">
    <input type="text" readonly class="form-control"
      th:value="${(CURRENCY_SYMBOL_POSITION == 'Before price' ? CURRENCY_SYMBOL : '')+#numbers.formatDecimal(amount, 1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)+(CURRENCY_SYMBOL_POSITION == 'After price' ? CURRENCY_SYMBOL : '')}">
  </div>

  <div th:fragment="format_currency(amount)" th:remove="tag">
    <span th:if="${CURRENCY_SYMBOL_POSITION =='Before price'}"
      th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(amount,1,THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]</span><span
      th:if="${CURRENCY_SYMBOL_POSITION =='After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
  </div>

  <script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>

</body>

</html>