<!DOCTYPE html>
<html xmlns:th="http://org.thymeleaf.org" xmlns:sec="https://org.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!-- PAGE HEADER  -->
<!-- CONTAINS ALL THE SOURCES LIKE BOOTSTRAP , NAVIGATION BAR STYLE ... -->

<head th:fragment="page_head(title,remove)" th:remove="${remove}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

	<title>[[${title}]]</title>

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<link rel="stylesheet" th:href="@{/css/navbar.css}" />
	<link rel="stylesheet" th:href="@{/css/navbar_buttons.css}" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

	<!-- COLUMN FOR ENTITY TABLE -->
	<th th:fragment="column_link(moduleURL,fieldName,columnLabel)">
		<a class="text-white" th:href="@{${moduleURL}+'/page/'+${currentPage}+'?sortField='+ ${fieldName} +'&sortOrder='+${sortField != fieldName ? sortOrder : reverseSortOrder} 
			+ ${keyword != null ? '&keyword='+keyword :''}}">
			[[${columnLabel}]]
		</a>
		<span th:if="${sortField == fieldName}" th:class="${sortOrder =='asc' ? 'fa fa-sort-up' : 'fa fa-sort-down'}">
		</span>
	</th>


	<!-- <a> CUSTOM LINK FOR ENTITY -->
	<a th:fragment="page_link(moduleURL,pageNum,label)" class="page-link"
		th:href="@{${moduleURL}+'/page/'+${pageNum}+'?sortField='+${sortField}+'&sortOrder='+${sortOrder}+${keyword != null ? '&keyword='+keyword :''}}">[[${label}]]</a>

	<!-- PAGE FOOTER -->
	<div th:fragment="footer" class="text-center m-3">
		<p style="text-align: center;">Store Control Panel - Copyright &COPY; Store </p>
	</div>

	<!-- ENTITY PAGINATION (NUMBER OF PAGES) -->
	<div th:fragment="pagination(moduleURL,entityName)" th:remove="tag">

		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>[[${entityName}]] from : [[${startCount}]] to [[${endCount}]] of [[${totalItems}]] </span>
		</div>

		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No [[${entityName}]] found</span>
		</div>

		<div th:if="${totalPages > 1}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">

					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="~{fragments :: page_link(${moduleURL},1,'First')}"></a>
					</li>

					<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="~{fragments :: page_link(${moduleURL},${currentPage -1},'Previous')}"></a>
					</li>

					<li th:class="${currentPage != i ? 'page-item' : 'page-item active'} "
						th:each="i : ${#numbers.sequence(1,totalPages)}">
						<a th:replace="~{fragments :: page_link(${moduleURL} , ${i} , ${i})}"></a>
					</li>

					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="~{fragments :: page_link(${moduleURL},${currentPage+1},'Next')}"></a>
					</li>

					<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="~{fragments :: page_link(${moduleURL},${totalPages},'Last')}"></a>
					</li>

				</ul>
			</nav>
		</div>
	</div>

	<!-- EDIT AND DELETE FOR CATEGORIES -->
	<div th:fragment="category_actions" th:remove="tag">
		<a th:href="@{'/categories/edit/'+ ${category.id}}" title="Edit this category"><img
				th:src="@{/images/buttons/edit.png}" /> </a>
		&nbsp;
		<th:block th:if="${category.hasChildren == false}">
			<a class="link-delete" th:href="@{'/categories/delete/' + ${category.id}}" th:entityId="${category.id}"
				title="Delete this Category">
				<img th:src="@{/images/buttons/delete.png}" />
			</a>
		</th:block>
	</div>

	<!--EDIT AND DELETE FOR USERS -->
	<div th:fragment="users_actions" th:remove="tag">
		<a th:href="@{'/users/edit/'+ ${user.id}}" title="Edit this user"><img th:src="@{/images/buttons/edit.png}" /> </a>
		&nbsp;

		<a class="link-delete" th:href="@{'/users/delete/' + ${user.id}}" th:entityId="${user.id}"
			title="Delete this User"><img th:src="@{/images/buttons/delete.png}" /></a>
	</div>

	<!--EDIT AND DELETE FOR BRANDS -->
	<div th:fragment="brands_actions" th:remove="tag">
		<a th:href="@{'/brands/edit/'+ ${brand.id}}" title="Edit this Brand"><img th:src="@{/images/buttons/edit.png}" />
		</a>
		&nbsp;
		<a class="link-delete" th:href="@{'/brands/delete/' + ${brand.id}}" th:entityId="${brand.id}"
			title="Delete this Brand"><img th:src="@{/images/buttons/delete.png}" /></a>
	</div>
	<!--EDIT AND DELETE FOR Products -->
	<div th:fragment="products_actions" th:remove="tag">
		<a class="link-detail" th:href="@{'/products/detail/'+${product.id}}" title="View details of this product"><img
				style="width: 35px;height: 35px; margin-right: 5px;" th:src="@{/images/status/details.png}" /></a>

		<th:block sec:authorize="hasAnyAuthority('Admin','Editor','Salesperson')">
			<a th:href="@{'/products/edit/'+ ${product.id}}" title="Edit this Product"><img
					th:src="@{/images/buttons/edit.png}" />
			</a>
		</th:block>
		&nbsp;
		<th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
			<a class="link-delete" th:href="@{'/products/delete/' + ${product.id}}" th:entityId="${product.id}"
				title="Delete this Product"><img th:src="@{/images/buttons/delete.png}" /></a>
		</th:block>
	</div>


	<!-- STATUS -->
	<div th:fragment="status(enabled,entityName,entityURL)" th:remove="tag">
		<a th:if="${enabled == true}" th:href="@{${entityURL}+'/enabled/false'}"
			th:title="'Disable this '+${entityName}"><img th:src="@{/images/status/accept.png}" /> </a>

		<a th:if="${enabled == false}" th:href="@{${entityURL}+'/enabled/true'}"
			th:title=" 'Enable this '+ ${entityName} "><img th:src="@{/images/status/cross.png}" /> </a>
	</div>




	<!-- SEARCH FRAGMENT -->
	<div th:fragment="search_form(moduleURL)">
		<form th:action="@{${moduleURL}}" class="form-inline m-3">
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortOrder" th:value="${sortOrder}" />

			Filter:&nbsp;
			<input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
			&nbsp;&nbsp;
			<input type="submit" value="Search" class="btn btn-primary" />
			&nbsp;&nbsp;
			<input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
		</form>

	</div>

	<!-- Search For Products -->
	<div th:fragment="search_form_categories(moduleURL)">
		<form th:action="@{${moduleURL}}" class="form-inline m-3" id="searchProductsByCategory">
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortOrder" th:value="${sortOrder}" />

			Category:&nbsp;
			<select class="form-control" name="categoryId" id="dropdownCategory">
				<option value="0">All Categories</option>
				<th:block th:each="category :${categories}">
					<option th:value="${category.id}" th:selected="(${categoryId}== ${category.id})">[[${category.name}]]</option>
				</th:block>
			</select>
			&nbsp;&nbsp;
			Filter:&nbsp;
			<input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
			&nbsp;&nbsp;
			<input type="submit" value="Search" class="btn btn-primary" />
			&nbsp;&nbsp;
			<input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
		</form>

	</div>

</body>

</html>