<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<body>

  <header class="container-fluid" th:fragment="page_navbar">
    <div class="navbar">
      <div class="logo">
        <a th:href="@{/}">
          <img th:src="@{/images/site/LOGOSTORE.png}" style="max-height: 80px; max-width: 80px; border-radius: 50px;" />
        </a>
      </div>

      <ul class="links">

        <li class="li" sec:authorize="hasAuthority('Admin')">
          <a class="a" th:href="@{/users}">Users</a>
        </li>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Editor')">
          <li class="li" sec:authority="hasAnyAuthority('Admin' ,'Editor')">
            <a class="a" th:href="@{/categories}">Categories</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Editor')">
          <li class="li"><a class="a" th:href="@{/brands}">Brands</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Editor','Shipper','Salesperson')">
          <li class="li"><a class="a" th:href="@{/products}">Products</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Salesperson')">
          <li class="li"><a class="a" th:href="@{/customers}">Customers</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Salesperson')">
          <li class="li"><a class="a" th:href="@{/shipping}">Shipping</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Salesperson','Shipper')">
          <li class="li"><a class="a" th:href="@{/orders}">Orders</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Salesperson')">
          <li class="li"><a class="a" th:href="@{/report}">Sales Report</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Editor')">
          <li class="li"><a class="a" th:href="@{/articles}">Articles</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Editor')">
          <li class="li"><a class="a" th:href="@{/menus}">Menus</a></li>
        </th:block>

        <th:block sec:authorize="hasAuthority('Admin')">
          <li class="li"><a class="a" th:href="@{/settings}">Settings</a> </li>
        </th:block>
        
        <li class="li dropdown">
          <img th:src="@{/images/site/user.png}" style="max-width: 35px; max-height: 35px;" />

          <a style="color: black;cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown" th:href="@{/account}"
            sec:authentication="principal.fullName"></a>

          <div class="dropdown-menu">
            <a th:href="@{/logout}" style="margin-left: 43px;" class="action-btn">Logout</a>
          </div>
        </li>

      </ul>
      <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <div class="dropdown_menu">
      <li class="li"><a class="a" th:href="@{/users}">Users</a></li>
      <li class="li"><a class="a" th:href="@{/categories}">Categories</a></li>
      <li class="li"><a class="a" th:href="@{/brands}">Brands</a></li>
      <li class="li"><a class="a" th:href="@{/products}">Products</a></li>
      <li class="li"><a class="a" th:href="@{/customers}">Customers</a></li>
      <li class="li"><a class="a" th:href="@{/shipping}">Shipping</a></li>
      <li class="li"><a class="a" th:href="@{/orders}">Orders</a></li>
      <li class="li"><a class="a" th:href="@{/report}">Sales Report</a></li>
      <li class="li"><a class="a" th:href="@{/articles}">Articles</a></li>
      <li class="li"><a class="a" th:href="@{/menus}">Menus</a></li>
      <li class="li"><a class="a" th:href="@{/settings}">Settings</a></li>
      <li class="li">
        <img th:src="@{/images/site/user.png}" style="max-width: 35px; max-height: 35px;" />
        <a style="color: black;" class="a" th:href="@{/account}" sec:authentication="principal.fullName"></a>
      </li>
      <li class="li">
        <a th:href="@{/logout}" class="action-btn">Logout</a>
      </li>
    </div>
  </header>


</body>

</html>