<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <header class="container-fluid" th:fragment="page_navbar">

    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
      <input type="submit" />
    </form>

    <div class="navbar">
      <div class="logo">
        <a th:href="@{/}">
          <img th:src="@{/images/site/LOGOSTORE.png}" style="max-height: 60px; max-width: 60px; border-radius: 50px;" />
        </a>
      </div>


      <ul class="links">
        <th:block sec:authorize="hasAnyAuthority('Admin')">
          <li class="li nav-item dropdown">
            <a class="a dropdown-toggle" data-toggle="dropdown" th:href="@{/users}">Users</a>

            <div class="dropdown-menu">
              <a class="a dropdown-item" th:href="@{/users/new}">Create new</a>
              <a class="a dropdown-item" th:href="@{/users}">View all</a>
            </div>
          </li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Editor')">
          <li class="li nav-item dropdown">
            <a class="a dropdown-toggle" data-toggle="dropdown" th:href="@{/categories}">Categories</a>
            <div class="dropdown-menu">
              <a class="a dropdown-item" th:href="@{/categories/new}">Create new</a>
              <a class="a dropdown-item" th:href="@{/categories}">View all</a>
            </div>
          </li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Editor')">
          <li class="li nav-item dropdown">
            <a class="a dropdown-toggle" data-toggle="dropdown" th:href="@{/brands}">Brands</a>

            <div class="dropdown-menu">
              <a class="a dropdown-item" th:href="@{/brands/new}">Create new</a>
              <a class="a dropdown-item" th:href="@{/brands}">View all</a>
            </div>
          </li>
        </th:block>


        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Editor','Shipper','Salesperson')">
          <li class="li nav-item dropdown">
            <a class="a dropdown-toggle" data-toggle="dropdown" th:href="@{/products}">Products</a>
            <div class="dropdown-menu">
              <a class="a dropdown-item" th:href="@{/products/new}"
                sec:authorize="hasAnyAuthority('Admin' ,'Editor')">Create new</a>
              <a class="a dropdown-item" th:href="@{/products}">View all</a>
            </div>
          </li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Salesperson')">
          <li class="li"><a class="a" th:href="@{/customers}">Customers</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Salesperson')">
          <li class="li"><a class="a" th:href="@{/shipping}">Shipping</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Salesperson','Shipper')">
          <li class="li"><a class="a" th:href="@{/orders}">Orders</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Salesperson')">
          <li class="li"><a class="a" th:href="@{/report}">Sales Report</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Editor')">
          <li class="li"><a class="a" th:href="@{/articles}">Articles</a></li>
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin' ,'Editor')">
          <li class="li"><a class="a" th:href="@{/menus}">Menus</a></li>
        </th:block>

        <th:block sec:authorize="hasAuthority('Admin')">
          <li class="li"><a class="a" th:href="@{/settings}">Settings</a> </li>
        </th:block>
      </ul>

      <li class="li dropdown" style="margin-left: 40px;">
        <img th:src="@{/images/site/user.png}" style="max-width: 35px; max-height: 35px;" />

        <a style=" text-decoration: none; color: black;cursor: pointer;" class="a dropdown-toggle"
          data-toggle="dropdown" th:href="@{/account}" sec:authentication="principal.fullName"></a>

        <div class="dropdown-menu" style="margin-left: 50px;">
          <a href="" id="logoutLinkHeader" class="action-btn">Logout</a>
        </div>
      </li>

      <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <div class="dropdown_menu">
      <li class="li"><a class="a" th:href="@{/users}">Users</a></li>
      <li class="li"><a class="a" th:href="@{/categories}">Categories</a></li>
      <li class="li"><a class="a" th:href="@{/brands}">Brands</a></li>
      <li class="li"><a class="a" th:href="@{/products}">Products</a></li>
      <li class="li"><a class="a" th:href="@{/customers}">Customers</a></li>
      <li class="li"><a class="a" th:href="@{/shipping}">Shipping</a></li>
      <li class="li"><a class="a" th:href="@{/orders}">Orders</a></li>
      <li class="li"><a class="a" th:href="@{/report}">Sales Report</a></li>
      <li class="li"><a class="a" th:href="@{/articles}">Articles</a></li>
      <li class="li"><a class="a" th:href="@{/menus}">Menus</a></li>
      <li class="li"><a class="a" th:href="@{/settings}">Settings</a></li>
      <li class="li">
        <img th:src="@{/images/site/user.png}" style="max-width: 35px; max-height: 35px;" />
        <a style="color: black;" class="a" th:href="@{/account}" sec:authentication="principal.fullName"></a>
      </li>
      <li class="li">
        <a href="" id="logoutLinkDropdown" class="action-btn">Logout</a>
      </li>
    </div>

    <script th:src="@{/js/logout.js}"></script>
  </header>

</body>

</html>